.pageNumber {
    padding: 2px;
}

.pageNumber.selected {
    font-weight: bold;
    color: black;
}

.paginator {
    margin: 20px;
}

.total {
    font-weight: bold;
    font-family: sans-serif;
}

.totalTitle {
    font-weight: bold;
    margin-left: 10px;
}