.login_form_block {
    margin: 100px auto 0;
    width: 400px;
    max-height: 400px;
    text-align: center;
    background: #D1C4E9;
    border: 1px solid black;
}
.login_input {
    display: block;
    margin: 10px auto;
    border-radius: 2px;
}

.login_input:last-child {
    margin-bottom: 20px;
}

.login_error {
    color: #7d2330;
}

.login_form_block button {
    margin-bottom: 15px;
}